<div class="panel panel-danger" ng-controller="banCtrl">
    <div class="panel-heading">
        <h2 class="text-center panel-header">Вход в приложение</h2>
    </div>
    <div class="panel-body ban">
        <p class="text-center" ng-if = "current.name">{{current.name}}!</p>
        <p class="text-center">К сожалению, Вам закрыт доступ к приложению!</p>
        <p class="text-center">Для получения доступа обратитесь к администратору!</p>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="goHome()" ng-if = "current.name">Закрыть</button>
        </div>
    </div>
</div>