doctype html
html(ng-app='bpApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      div(ng-view)
        block content
    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='app.js')
    script(src='/home/home.controller.js')
    script(src='/common/services/bpData.service.js')
    script(src='/bootstrap/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')